/* 30-typography */
.wrapper{font-size:1em;}
.font-family h1, .font-family h2, .font-family h3, .font-family h4, .font-family h5, .font-family h6, .font-family .h1, .font-family .h2, .font-family .h3, .font-family .h4, .font-family .h5, .font-family .h6, .font-family .navbar-nav, .menu-mobile a, .u-breadcrumb .breadcrumb-item, .post-content .tags-list li:first-child {font-family:  var(--bs-font-headings);}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a, .h1 > a, .h2 > a, .h3 > a, .h4 > a, .h5 > a, .h6 > a {color: var(--bs-primary); }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6{font-weight: 600;font-family: var(--bs-font-headings);line-height:1.3;}
h1 > a,h1,.h1,.display-6{line-height:1.15;}
.hover-a:hover h1 > a, .hover-a:hover h2 > a, .hover-a:hover h3 > a, .hover-a:hover h4 > a, .hover-a:hover h5 > a, .hover-a:hover h6 > a, .hover-a:hover .h1 > a, .hover-a:hover .h2 > a, .hover-a:hover .h3 > a, .hover-a:hover .h4 > a, .hover-a:hover .h5 > a, .hover-a:hover .h6 > a, .hover-a:hover p > a {
	color: var(--bs-link-hover-color);
	text-decoration: var(--bs-link-hover-decoration) !important;
}
/*h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {line-height: 1.25;font-weight: 500;}*/
.post-page strong {color: inherit !important;}
body,.post-content,p,div,span {font-family: var(--bs-font-primary);}
p{color: var(--bs-post-color);}
.pmb-0 p{margin-bottom: 0 !important;}
.post-title .h1,.post-title h1,.page-title .h1,.page-title h1,h1.page-title {font-weight: 600; font-size:2rem;}
.post-content ol {color: #222;}
.post-content ul {color: #222;}
.post-content ol li {margin-left: 0; line-height: 1.6;}
.post-content ul li {margin-left: 0; line-height: 1.6;}
/*.post-content {color: var(--bs-post-color); line-height: 1.6; font-size: 1.1875rem;}*/
.post-content {
	--bs-post-color: var(--post-color);
	--bs-post-color-hover: var(--bs-gray-700);
	line-height: 1.65em;
	font-size: 1.1875em;
}
.wp-block-quote {font-size: 1.1875rem;line-height: 1.3;}
.text-bluedk{color:var(--bs-bluedk) !important;}
@media(max-width:576px){
    h1.entry-title{font-size:1.5em;}
}
.post-content figure figcaption {font-size: .75em;}
.figcapatt{text-align: right !important;margin: -1.8em 0 .5em 0;color: #fff !important;}
.figcapatt span{padding:.25em 1em; background:rgba(0,0,0,.4);}
.text-danger a{color: var(--bs-danger) !important;}
.text-success a{color: var(--bs-success) !important;}
.text-warning a{color: var(--bs-warning) !important;}

.text-info a{color: var(--bs-info) !important;}
.text-primary a{color: var(--bs-primary) !important;}
.text-secondary a{color: var(--bs-secondary) !important;}
.text-dark a{color: var(--bs-dark) !important;}
.text-light a{color: var(--bs-light) !important;}
.text-muted a,.text-muted p{color: var(--bs-muted) !important;}
.text-white a{color: var(--bs-white) !important;}
.text-black a{color: var(--bs-black) !important;}
.text-gray a{color: var(--bs-gray) !important;}
.text-gray-dark a{color: var(--bs-gray-dark) !important;}

small, .small {font-size: .875em !important;}

/* XXL=1440 */
.fs-1 {font-size: 6.5rem !important;}
.fs-2 {font-size: 4.5rem !important;}
.fs-3 {font-size: 3.5rem !important;}
.fs-4 {font-size: 3rem !important;}
.fs-5 {font-size: 2.5rem !important;}
.fs-6 {font-size: 2rem !important;}
.fs-7 {font-size: 1.5rem !important;}
.fs-8 {font-size: 1.25rem !important;}
.fs-sub {font-size: .8125rem !important;}
@media (max-width: 1200px) {
	.fs-1 {font-size: 5.75rem !important;}
	.fs-2 {font-size: 3.5rem !important;}
	.fs-3 {font-size: 3rem !important;}
	.fs-4 {font-size: 2.5rem !important;}
	.fs-5 {font-size: 2rem !important;}
	.fs-6 {font-size: 1.75rem !important;}
	.fs-7 {font-size: 1.5rem !important;}
	.fs-8 {font-size: 1.1875rem !important;}
}
@media (max-width: 992px) {
	.fs-1 {font-size: 5rem !important;}
	.fs-2 {font-size: 3.5rem !important;}
	.fs-3 {font-size: 2.5rem !important;}
	.fs-4 {font-size: 2rem !important;}
	.fs-5 {font-size: 1.5rem !important;}
	.fs-6 {font-size: 1.375rem !important;}
	.fs-7 {font-size: 1.25rem !important;}
	.fs-8 {font-size: 1.125rem !important;}
}
@media (max-width: 768px) {
	.fs-1 {font-size: 4.5rem !important;}
	.fs-2 {font-size: 3rem !important;}
	.fs-3 {font-size: 2.5rem !important;}
	.fs-4 {font-size: 2rem !important;}
	.fs-5 {font-size: 1.5rem !important;}
	.fs-6 {font-size: 1.25rem !important;}
	.fs-7 {font-size: 1.125rem !important;}
	.fs-8 {font-size: 1.0625rem !important;}
}
@media (max-width: 576px) {
	.fs-1 {font-size: 4.5rem !important;}
	.fs-2 {font-size: 3.5rem !important;}
	.fs-3 {font-size: 3rem !important;}
	.fs-4 {font-size: 2rem !important;}
	.fs-5 {font-size: 1.5rem !important;}
	.fs-6 {font-size: 1.25rem !important;}
	.fs-7 {font-size: 1.125rem !important;}
	.fs-8 {font-size: 1rem !important;}
}
/*Font Family*/
.ff-p{font-family: var(--bs-font-primary);}
.ff-s{font-family: var(--bs-font-secondary);}
.ff-h{font-family: var(--bs-font-headings);}
/*Font Weight*/
.fw-4{font-weight: 400 !important;}
.fw-5{font-weight: 500 !important;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700 !important;}
.fw-8{font-weight: 800 !important;}