/* 11-Layout */
.container-xxl {max-width: 1486px !important;}

@media (min-width: 1400px) {
	.col-xxl-1 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 8.33333333%;}
	.col-xxl-2 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 16.66666667%;}
	.col-xxl-3 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 25%;}
    .col-xxl-4 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 33.33333333%;}
	.col-xxl-5 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 41.66666667%;}
	.col-xxl-6 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 50%;}
	.col-xxl-7 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 58.33333333%;}
	.col-xxl-8 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 66.66666667%;}
	.col-xxl-9 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 75%;}
	.col-xxl-10 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 83.33333333%;}
	.col-xxl-11 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 91.66666667%;}
	.col-xxl-12 {-ms-flex: 0 0 auto; flex: 0 0 auto; width: 100%;}
}





.type-page {margin-bottom: 0;}
.post-content {margin-bottom: 0;}

/* 20-utilities */
.btn-primary, .btn-primary a{
    --bs-btn-bg: var(--bs-btn-primary-bg);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-btn-primary-bg-hover);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-secondary, .btn-secondary a{
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-outline-primary, .btn-outline-primary a{
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-primary);
}
.btn-outline-secondary, .btn-outline-secondary a{
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: var(--bs-secondary);
}
.btn-success, .btn-success a{
	--bs-btn-bg: var(--bs-btn-success-bg);
	--bs-btn-hover-bg: var(--bs-btn-success-bg-hover);
}
.btn-outline-primary a{
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}
.btn-outline-secondary a{
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
}
.btn-outline-success a{
    --bs-btn-color: var(--bs-success);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-bg: var(--bs-success);
    --bs-btn-hover-border-color: var(--bs-success);
}
/*
.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: 600;
  --bs-nav-link-color: var(--bs-navlink-color);
  --bs-nav-link-hover-color: var(--bs-navlink-color-hover);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  list-style: none;
}
*/
.card{
	--bs-card-spacer-x: var(--bs-card-spacer);
	--bs-card-spacer-y: var(--bs-card-spacer);
}

.dropdown-menu{--bs-dropdown-link-active-color:var(--bs-primary);}
.dropdown-menu-dark{--bs-dropdown-link-active-color:var(--bs-primary);}
.nav-pills{--bs-nav-pills-link-active-bg:var(--bs-primary);}

.navbar{
	--bs-navbar-brand-color:var(--bs-bluedk);
	--bs-navbar-brand-hover-color:var(--bs-blue);
}
.navbar-light{--bs-navbar-active-color:var(--bs-primary);}
.navbar-light .navbar-nav .nav-link{color:var(--bs-navlink-color)!important;}
.navbar-light .navbar-nav .nav-link:hover{color:var(--bs-navlink-color-hover)!important;}

.pagination{--bs-pagination-active-bg:var(--bs-primary);--bs-pagination-active-border-color:var(--bs-primary);}
.progress{--bs-progress-bar-bg:var(--bs-primary);}
.list-group{--bs-list-group-active-bg:var(--bs-primary);--bs-list-group-active-border-color:var(--bs-primary);}
.link-primary{color:var(--bs-primary)!important}
.link-primary:hover,.link-primary:focus{color:#000 !important}
.btn:focus, .btn:hover {opacity: .9 !important;}
.bg-dark a.text-white{color:#fff !important;}
.bg-dark a.text-white:hover{color:#eeeeee !important;}
.bg-primary{background-color:var(--bs-primary)!important}
.bg-secondary{background-color:var(--bs-secondary)!important}
.bg-light{background-color:var(--bs-light)!important}
.border-primary {border-color:var(--bs-primary)!important;}
.border-secondary {border-color:var(--bs-secondary)!important;}
.border-light {border-color:var(--bs-light)!important;}

.btn-social.btn-sm.btn-outline-light{font-size:1rem !important;}
.btn-social.btn-outline-light:hover{color: #000000 !important;}

/*.bg-light .list-group-item { background:transparent !important; }*/